<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript">
  // JS for video on homepage
  $(document).ready(function () {

      $(".player").mb_YTPlayer();

  });
</script>

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>Full Width Video</h1>
        <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3>
     </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->

<ul class="nav">
  <li><%= link_to "Check Out Upcoming Events Around You!", events_path, class: "nav_button" %></li>
</ul>

<% if !user_signed_in? %>
  <%= form_tag events_path, :method => 'get', id: "zip-submit" do %>
    <%= label_tag(:q, "Zip Code:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
<% end %>

