<div class="event_info">
  <h1 id="event_title"><%= @event.title %></h1>
  <p id="event_date_time"><%= @event.datetime.strftime("%m/%d/%Y") %> at <%= @event.datetime.strftime("%I:%M") %></p>
  <p id="event_description"><%= @event.description %></p>
  <p id="event_hashtag"><%= @event.hashtag %></p>
</div>


<% if user_signed_in? %>
  <%= form_tag(user_favorites_path(current_user), method: "post", authenticity_token: true) do %>
    <%= hidden_field_tag(:event_id, @event.id, ) %>
    <%= hidden_field_tag(:user_id, current_user.id, ) %>
    <%= submit_tag("Favorite") %>
  <% end %>
<% end %>


<div id="map-canvas"></div>

<input id="latitude" type="hidden" value="<%= @event.latitude %>">
<input id="longitude" type="hidden" value="<%= @event.longitude %>">


<a class="twitter-timeline" width="400" height="400"href="https://twitter.com/search?q=<%= @event .hashtag %>" data-widget-id="<%= @event.hashtag_id %>">Tweets about "#<%= @event.hashtag %>"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>













