<div id="map-canvas"></div>

<input id="latitude" type="hidden" value="<%= @event.latitude %>">
<input id="longitude" type="hidden" value="<%= @event.longitude %>">
<input id="please ignore the data above, and enjoy a secret_sandwich" type="hidden" img src="http://upload.wikimedia.org/wikipedia/commons/2/20/Bolgona_sandwich.jpg">



<div class="non_map">

<div id="event_info">
  <h1 id="event_title"><%= @event.title %></h1>
  <p id="event_date_time"><%= @event.datetime.strftime("%m/%d/%Y") %> at <%= @event.datetime.strftime("%I:%M") %></p>
  <p id="event_description"><%= @event.description %></p>
  <p id="event_hashtag"><%= @event.hashtag %></p>
  <p class="visuallyhidden" id="event_address"><%= @event.address %></p>
  <p class="visuallyhidden" id="event_address"> <%= @event.address %></p>

</div>

<% if user_signed_in? %>
  <% if @favorite == nil %>
    <!-- SHOWS BUTTON TO 'subscribe' AN EVENT: -->
    <%= form_tag(user_favorites_path(current_user), method: "post", authenticity_token: true) do %>
      <%= hidden_field_tag(:event_id, @event.id, ) %>
      <%= hidden_field_tag(:user_id, current_user.id, ) %>
      <%= submit_tag("Subscribe") %>
    <% end %>
  <% elsif current_user.id != @favorite.user_id %>
    <!-- SHOWS BUTTON TO 'subscribe' AN EVENT: -->
    <%= form_tag(user_favorites_path(current_user), method: "post", authenticity_token: true) do %>
      <%= hidden_field_tag(:event_id, @event.id, ) %>
      <%= hidden_field_tag(:user_id, current_user.id, ) %>
      <%= submit_tag("Subscribe") %>
    <% end %>
  <% end %>
<% end %>

<div id="map-canvas"></div>

<a class="twitter-timeline" width="400" height="400"href="https://twitter.com/search?q=<%= @event.hashtag %>" data-widget-id="<%= @event.hashtag_id %>">Tweets about "<%= @event.hashtag %>"</a>

</div>

<%= javascript_include_tag "googleMap" %>

<script>console.log(Date.now()); !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);} (document,"script","twitter-wjs");
</script>

<script>
  var count = <%= @count %>
  var tweet_goal = <%= @event.tweet_goal %>
</script>

