<ul>
  <li id="event_title"><%= @event.title %></li>
  <li id="event_hashtag"><%= @event.hashtag %></li>
  <li id="event_description"><%= @event.description %></li>
</ul>


<div id="map-canvas"></div>

<input id="latitude" type="hidden" value="<%= @event.latitude %>">
<input id="longitude" type="hidden" value="<%= @event.longitude %>">

