<div id="outside">
  <div id="content_wrapper">
    <h1 id="fancy_font">Summary...</h1>
    <p>WildFire is a recreational web application designed to generate buzz surrounding an upcoming event by     incrementally revealing its location based on the frequency of a specified event hashtag's appearance.
    </p>
    <h2><p id="fancy_font">Here is how it works...</p></h2>
    <ul>
      <li>You provide us with the details of your event on our <a href='/contact'> Contact Page </a>.</li>
      <li>We will create a custom Twitter driven map event page for you, intended for the local community.</li>
      <li>The location of your event will be narrowed down through a series of provided hints and increasingly detailed maps as those interested in your event drive up Twitter buzz.</li>
      <li>Once your Twitter goal has been met, we will reveal the location, and any other details associated with your event, allowing the Twitter buzz to translate into an already considerable, engaged, and enthusiastic audience eager to attend you event.</li>
    </ul>
  </div>
</div>


<div id="map_canvas"></div>

<%= javascript_include_tag "about" %>

<footer class="about_footer">
  Created in 2014 by <%= link_to "Adam Barrett", "https://github.com/ab75173", :target => "_blank" %>, <%= link_to "Mikael Davis", "https://github.com/OKitsMikael", :target => "_blank" %>, <%= link_to "Mary Hipp", "https://github.com/maryhipp", :target => "_blank" %>, <%= link_to "Randy Latz", "https://github.com/rmlatz", :target => "_blank" %>, <%= link_to "Gabe Synder", "https://github.com/Gabe888", :target => "_blank" %>, and <%= link_to "Thomas Weaver", "https://github.com/thmsweaver", :target => "_blank" %>
</footer>
