<h1>Contact Us</h1>

<h2>Want us to hype up your next party?</h2>
<p>Please complete the form below and you will hear from us within 2-3 business days</p>
<%= form_tag do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :email_address %>
  <%= text_field_tag :email_address %>
  <br>
  <%= label_tag :phone_number %>
  <%= text_field_tag :phone_number %>
  <br>
  <%= label_tag :event_date %>
  <%= text_field_tag :event_date %>
  <br>
  <%= label_tag :event_time %>
  <%= text_field_tag :event_time %>
  <br>
  <%= label_tag :party_location %>
  <br>
  <%= label_tag :address %>
  <%= text_field_tag :party_address %>
  <br>
  <%= label_tag :city %>
  <%= text_field_tag :party_city %>
  <br>
  <%= label_tag :state %>
  <%= text_field_tag :party_state %>
  <br>
  <%= label_tag :party_description %>
  <%= text_area_tag :party_description %>
  <br>
  <%= submit_tag "Submit"%>
<% end %>
