<!DOCTYPE html>
<html>
<head>
  <title>WildFyre</title>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwQUhbEK21jYYNj_amE04QY6Q5K4uHcHM"></script>
   <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
   <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Enable Bootstrap to be mobile friendly -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <!-- NAVIATION -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WildFyre</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/events">Events</a></li>
        <li class="active"><a href="/about">About Us</a></li>
        <li class="active"><a href="/contact">Contact Us</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "My Favorites", user_favorites_path(current_user) %></li>
        <% end %>
      </ul>

      <div class="navbar-form navbar-left ">
        <div class="form-group">
          <% if !user_signed_in? %>
            <%= form_tag events_path, :method => 'get', id: "zip-submit" do %>
              <%= text_field_tag(:q, "", class: "form-control", placeholder: "Zip Code") %>
            <% end %>
          <% end %>
        </div>
      </div>


      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
        <% if user_signed_in? %>
            <a href="<%= destroy_user_session_path %>" class="btn btn-default" data-method="delete">Logout</a>
            <a href="<%= edit_user_registration_path %>" class="btn btn-default">Edit Account</a>
        <% else %>

          <div class='registration btn btn-default'> Join/Login
          </div>

          <div class='showOptions visuallyhidden'>
              <a href="<%= new_user_registration_path %>" class="btn btn-default" >
                Sign Up
              </a>
              <a href="<%= new_user_session_path %>" class="btn btn-default" >
                Sign In
              </a>
              <a href="<%= user_omniauth_authorize_path(:twitter) %>"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></a>
          </div>
        <% end %>


        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

      <!-- END NAVIGATION -->

    <%= yield %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>


</html>
